body {
  -webkit-font-smoothing: antialiased;
}


a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}


.svg-icon {
  width: 24px;
  height: 24px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.user-icon {
  font-size: 22px;
  cursor: pointer;
}

.dashboard-item {
  width: 25%;
}

.dashboard-item-lg {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.full-item {
  border-bottom: 1px solid rgb(230,230,230);
  padding-bottom: 15px;
}

.editions-icon {
  color: $dark;
}
